@media screen and (max-width: 1440px) {
    .banner h1 {
        padding: 100px 100px 105px 650px;
    }
}

@media screen and (max-width: 1280px) {
    .banner h1 {
        font-size: 6rem;
        padding: 120px 70px 85px 650px;
    }
}

@media screen and (max-width: 1024px) {
    .banner h1 {
        font-size: 4rem;
    }

    .product-card {
        max-width: 800px;
    }

    h1 {
        font-size: 50px;
    }

    .logo {
        width: 128px;
        height: 128px;
    }

    .name {
        padding-left: 10px;
        width: 20px;
    }

    .insta {
        padding-left: 100px;
    }

}

@media screen and (max-width: 768px) {

    .banner {
        height: 250px;
    }

    .banner h1 {
        font-size: 2.5rem;
        padding: 3rem 1rem;
    }

    .menu,
    .buttons {
        height: 120px;
    }

    .product-card {
        max-width: 600px;
        margin: 3rem auto;
    }

    .ringBtn {
        width: 110px;
        height: 110px;
        margin: 15px;
    }

    .ringBtn h2 {
        margin: 40px 15px 32px;
        font-size: 20px;
    }

    .ringBtn:hover {
        width: 130px;
        height: 130px;
    }

    .ringBtn:hover h2 {
        margin: 40px 10px;
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    p {
        font-size: 14px;
    }

    .banner h1 {
        padding: 50px 20px 85px 300px;
        font-size: 40px;
    }

    .product-card {
        width: 400px;
        margin: 200px 100px;
    }

    .contact {
        justify-content: center;
        width: 300px;
        gap: 10px;
    }

    .icons a {
        display: flex;
        margin-left: 15px;
        height: 44px;
        width: 44px;
    }
}

@media screen and (max-width: 480px) {

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }

    button {
        font-size: 20px;
        min-width: 100px;
        height: 50px;
    }

    header {
        justify-content: center;
        height: 100px;
    }

    .logo {
        width: 64px;
        height: 64px;
    }

    .name {
        padding-left: 10px;
        width: 0px;
    }

    .insta {
        width: 44px;
        height: 44px;
        padding-top: 15px;
        padding-left: 60px;
    }

    .lang {
        width: 44px;
        height: 64px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .banner h1 {
        width: 200px;
        padding: 30px 0px 85px 200px;
        font-size: 30px;
    }

    .menu {
        height: 100px;
    }

    .buttons {
        height: 100px;
    }

    .ringBtn {
        width: 64px;
        height: 64px;
        margin: 5px;
    }

    .ringBtn h2 {
        margin: 25px 5px 22px;
        font-size: 10px;
    }

    .ringBtn:hover {
        width: 74px;
        height: 74px;
    }

    .ringBtn:hover h2 {
        margin: 25px 10px;
        font-size: 12px;
    }

    .card {
        width: 350px;
        height: 600px;
        margin-top: 35px;
    }

    .swiper {
        max-width: 300px;
    }

    .card h2 {
        height: 30px;
    }

    .icon {
        height: 44px;
        width: 44px;
        margin-left: 5px;
    }

    .product-card {
        width: 300px;
        padding: 10px;
    }

    .contact {
        justify-content: center;
        width: 300px;
        gap: 5px;
    }

    .icons a {
        margin-left: 0px;
        height: 38px;
        width: 38px;
    }

    .contact p {
        width: 170px;
    }

    .seller-price {
        height: 60px;
    }
}

@media screen and (max-width: 390px) {
    .contact {
        width: 220px;
    }

    .icons a {
        margin-left: 0px;
        height: 38px;
        width: 38px;
    }
}

@media screen and (max-width: 375px) {
    button {
        font-size: 15px;
        min-width: 70px;
        height: 30px;
    }

    .insta {
        width: 34px;
        height: 34px;
    }

    .lang {
        width: 34px;
        height: 50px;
    }

    .banner h1 {
        padding: 90px 10px 0px 150px;
    }

    .card {
        width: 300px;
        height: 530px;
    }

    .product-card {
        margin: 50px 20px;
    }
}