@media screen and (max-width: 1024px) {
    .banner {
        height: 300px;
    }

    .product-card {
        max-width: 800px;
    }

    h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 768px) {

    .banner {
        height: 250px;
    }

    .product-card {
        max-width: 600px;
        margin: 3rem auto;
    }

    .ringBtn {
        width: 100px;
        height: 100px;
    }

    .ringBtn h2 {
        font-size: 20px;
    }

    .ringBtn:hover h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    p {
        font-size: 14px;
    }

    .product-card {
        width: 400px;
        margin: 200px 100px;
    }

    .contact {
        justify-content: center;
        width: 300px;
        gap: 10px;
    }

    .icons a {
        display: flex;
        margin-left: 15px;
        height: 44px;
        width: 44px;
    }
}

@media screen and (max-width: 480px) {

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 12px;
    }

    button {
        font-size: 20px;
        min-width: 100px;
        height: 50px;
    }

    header {
        height: 100px;
    }

    .logo {
        width: 64px;
        height: 64px;
    }

    .insta {
        width: 44px;
        height: 44px;
        padding-top: 15px;
    }

    .lang {
        width: 44px;
        height: 64px;
    }

    .banner {
        height: 150px;
    }

    .ringBtn {
        width: 54px;
        height: 54px;
    }

    .ringBtn h2 {
        font-size: 11px;
    }

    .ringBtn:hover h2 {
        font-size: 11px;
    }

    .card {
        width: 350px;
        max-height: 600px;
        margin-top: 35px;
    }

    .swiper {
        max-width: 300px;
    }

    .card h2 {
        height: 30px;
    }

    .icon {
        height: 44px;
        width: 44px;
        margin-left: 5px;
    }

    .product-card {
        width: 300px;
        padding: 10px;
    }

    .contact {
        justify-content: center;
        width: 300px;
        gap: 5px;
    }

    .icons a {
        margin-left: 0px;
        height: 38px;
        width: 38px;
    }

    .contact p {
        width: 170px;
    }

    .seller-price {
        height: 60px;
    }
}

@media screen and (max-width: 390px) {
    .contact {
        width: 220px;
    }

    .icons a {
        margin-left: 0px;
        height: 38px;
        width: 38px;
    }
}

@media screen and (max-width: 375px) {
    button {
        font-size: 15px;
        min-width: 70px;
        height: 30px;
    }

    .insta {
        width: 34px;
        height: 34px;
    }

    .lang {
        width: 34px;
        height: 50px;
    }

    .card {
        width: 300px;
        height: 530px;
    }

    .product-card {
        margin: 50px 20px;
    }
}