body {
    width: 1920px;
    font-family: 'Pacifico', sans-serif;
    margin: 0;
    background-color: #F0E6E1;
    color: #775846;
}

.container {
    max-width: 1440px;
    text-align: center;
    margin: 0 240px;
}

p {
    font-family: 'Delius', sans-serif;
    font-size: 20px;
    text-align: -webkit-match-parent;
}

h1 {
    font-size: 100px;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
}

button {
    background-color: rgba(212, 144, 109, 0.7);
    border-radius: 30px;
    color: #5D6848;
    font-size: 20px;
    font-family: 'Pacifico', sans-serif;
    min-width: 150px;
    height: 60px;
    border-width: 0px;
}

button:hover {
    background-color: #d4906d;
    color: #775846;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 160px;
    justify-content: space-evenly;
}

.name {
    padding-left: 20px;
    width: 230px;
}

.insta {
    width: 58px;
    height: 58px;
    padding-top: 25px;
    padding-left: 400px;
}

.lang {
    width: 58px;
    height: 88px;
    padding-left: 13px;
    padding-right: 15px;
}

.banner {
    height: 507px;
    background-image: url(.../img/banner1.jpg);

}

.banner h1 {
    color: #5D6848;
    padding: 115px 300px 105px 1050px;
}

.menu {
    background-color: rgba(241, 194, 143, 0.14);
    height: 250px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    user-select: none;
}

.ringBtn {
    border-radius: 50%;
    background-color: rgba(212, 144, 109, 0.7);
    width: 150px;
    height: 150px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 35px;
    transition: transform 0.8s ease;
}

.ringBtn h2 {
    color: #5D6848;
    margin: 40px 15px 32px;
    transition: transform 1.8s ease;
}

.ringBtn:hover {
    background-color: rgba(93, 104, 72, 0.7);
    width: 200px;
    height: 200px;
    transform: scale(1.1);
}

.ringBtn:hover h2 {
    color: #775846;
    margin: 70px 20px;
    font-size: 40px;
    transform: scale(1.1);
}

.gelery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    border-radius: 20px;
    background-color: rgba(241, 194, 143, 0.14);
    width: 450px;
    height: 800px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    margin-top: 55px;
}

.photo {
    border-radius: 20px;
    margin: 25px;
}

.card h2 {
    color: #5D6848;
    height: 40px;
}

.card p {
    margin: 10px 25px;
}

.cardMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon {
    height: 64px;
    width: 64px;
    margin-left: 25px;
}

.more {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {

    background-image: url(.../img/bannerStones.jpg);
    height: 200px;
    margin-top: 50px;
    text-align: center;
    padding-top: 20px;
}

.iconLinks {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 150px;
    align-content: space-around;
    flex-wrap: wrap;
}

footer p a {
    font-size: 10px;
    color: #5D6848;
    margin: 0px;
    font-family: 'Pacifico', sans-serif;
}




#modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: opacity 0.4s ease;
    background-color: rgb(240 225 213 / 85%);
    backdrop-filter: blur(6px);

    -webkit-backdrop-filter: blur(6px);
    /* Safari */
}

#modal.show {
    opacity: 1;
    pointer-events: all;
}

.product-card {
    display: flex;
    background: rgba(241, 194, 143, 0.14);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 1100px;
    text-align: center;
    margin: 250px 410px;
    transform: translateY(-150px);
    opacity: 0;
    transition: all 0.4s ease;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 26px;
    color: #775846;
    cursor: pointer;
    transition: color 0.2s;
}

.close:hover {
    color: #000;
}

.content {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content h2 {
    color: #5D6848;
}

.slider {
    width: 100%;
    background-color: rgba(212, 144, 109, 0.7);
    height: 10px;
    border-radius: 20px;
    position: relative;
}

.sliderBtn {
    height: 25px;
    width: 25px;
    background-color: #775846;
    border-radius: 20px;
    position: absolute;
    top: -7px;
}

.sliderPrice {
    margin-top: 10px;
}

.recommend {
    display: flex;
    gap: 10px;
}

.recommend input {
    flex: 1;
    padding: 8px;
    border: 1px solid #cdb8a3;
    border-radius: 10px;
    background-color: rgba(241, 194, 143, 0.14);
}

input::placeholder {
    color: rgba(119, 88, 70, 0.5);
    font-family: 'Delius', sans-serif;
    font-size: 14px;
}

.seller-price {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(241, 194, 143, 0.14);
    border-radius: 20px;
    margin-top: 15px;
    height: 140px;
}

.price {
    color: #775846;
    padding-left: 20px;
    font-size: 70px;
}

small {
    text-align: left;
}

.contact {
    display: flex;
    justify-content: space-between;
    width: 480px;
    gap: 10px;
}

.contact p {
    text-align: left;
    width: 280px;
}

.icons {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    margin-right: 25px;
    height: 64px;
    width: 64px;
}