:root {
    --swiper-theme-color: #5D6848;
}

body {
    font-family: 'Pacifico', sans-serif;
    background-color: #F0E6E1;
    color: #775846;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

p {
    font-family: 'Delius', sans-serif;
    font-size: 20px;
    text-align: -webkit-match-parent;
}

h1,
h2 {
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 30px;
}

button {
    background-color: rgba(212, 144, 109, 0.7);
    border-radius: 30px;
    color: #5D6848;
    font-size: 20px;
    font-family: 'Pacifico', sans-serif;
    min-width: 150px;
    height: 60px;
    border-width: 0px;
}

button:hover {
    background-color: #d4906d;
    color: #775846;
}

header,
.buttons,
.gelery,
.cardMenu,
.recommend,
.contact,
.icons {
    display: flex;
}

header {
    flex-wrap: wrap;
    align-items: center;
    height: 160px;
    justify-content: space-around;
}

.insta {
    width: 58px;
    height: 58px;
}

.lang {
    width: 58px;
    height: 88px;
}

.banner {
    width: 100%;
    height: 507px;
    background-image: url(../img/banner1.jpg);

}

.banner h1 {
    color: #5D6848;
    padding: 5%;
    text-align: right;
}

.menu {
    background-color: rgba(241, 194, 143, 0.14);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    padding: 3%;
}

.buttons {
    justify-content: space-around;
    align-items: center;
    height: 100%;
    user-select: none;
}

.ringBtn {
    border-radius: 50%;
    background-color: rgba(212, 144, 109, 0.7);
    text-align: center;
    width: 150px;
    height: 150px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.8s ease;
}

.ringBtn h2 {
    color: #5D6848;
    transition: transform 1.8s ease;
    margin-top: 30%;
}

.ringBtn:hover {
    background-color: rgba(93, 104, 72, 0.7);
    transform: scale(1.1);
}

.ringBtn:hover h2 {
    color: #775846;
    margin-top: 30%;
    transform: scale(1.1);
}

.gelery {
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    border-radius: 20px;
    background-color: rgba(241, 194, 143, 0.14);
    width: 450px;
    height: 800px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    margin-top: 55px;
}

.photo {
    border-radius: 20px;
}

.swiper {
    max-width: 400px;
    margin: 25px;
}

.card h2 {
    color: #5D6848;
    height: 40px;
}

.card p {
    margin: 10px 25px;
}

.cardMenu {
    justify-content: space-around;
    align-items: center;
}

.icon {
    height: 64px;
    width: 64px;
    margin-left: 25px;
}

.more {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(../img/bannerStones.jpg);
    height: 200px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    box-sizing: border-box;
}

.iconLinks {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 150px;
    align-content: space-around;
    flex-wrap: wrap;
}

footer p a {
    font-size: 10px;
    color: #5D6848;
    margin: 0px;
    font-family: 'Pacifico', sans-serif;
}

#modal {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    background-color: rgb(240 225 213 / 85%);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    transition: opacity 0.4s ease;
    opacity: 0;
}

#modal.show {
    opacity: 1;
    pointer-events: all;
}

.product-card {
    background: rgba(241, 194, 143, 0.14);
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 1100px;
    max-width: 90%;
    padding: 20px;
    box-sizing: border-box;

    /* Анимация появления */
    transform: translateY(0);
    opacity: 1;
    transition: all 0.4s ease;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 26px;
    color: #775846;
    cursor: pointer;
    transition: color 0.2s;
}

.close:hover {
    color: #000;
}

.content {
    display: flex;
    padding: 0 30px;
    flex-direction: column;
    justify-content: space-between;
}

.content h2 {
    color: #5D6848;
}

.price {
    color: #775846;
    padding-left: 20px;
    font-size: 70px;
}

small {
    text-align: left;
}

.contact {
    justify-content: space-between;
    width: 480px;
    gap: 10px;
}

.contact p {
    text-align: left;
    width: 280px;
}

.icons {
    gap: 25px;
}